<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo!</title>
</head>
<body>
    <!--
    A variável 'nome' pe passada pelo Flask (render_template).
    A sintaxe {{ nome }} é como o Jinja2 motor de templates do Flask)
    exibe o valor da variável no HTML.
     -->
    <h1>Olá, {{ nome }}</h1>
    <p>Seu cadatro foi realizado com sucesso.</p>
    <a href="/cadastro">Voltar</a>
</body>
</html>